
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*RESET*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     font-family: "Josefin Sans", sans-serif;
}
.supp-puce{
    list-style-type: none;
}
header{
    position: fixed;
    width: 100%;
    top: 30px;
    align-items: center;
}

body{
    background-color: #0B1D26;
    color: white;
}

.section-hero{
    background-image: url(asset/images/banniere3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;

}

a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}

ul{
    list-style-type:none ;
}

h1{
    font-size: 40px;
}

/*les classes fonctionnelles flex */

.flex {
display: flex;
flex-wrap:wrap;
}

.space-between{
justify-content:space-between;
}

.space-around{
justify-content:space-around;
}

.space-evenly{
justify-content:space-evenly;
}

.justify-center{
justify-content:center;
}

.flex-end{
justify-content:flex-end;
}

.flex-start{
justify-content:flex-start;
}

.align-center{
align-items:center;
}

.align-end{
align-items:end;
}

.gap-12{
gap:12px;
}

/*les classes de largeur*/

.w-100{
    width: 100%;
}

.w-48{
    width: 40%;
}

.w-33{
    width: 33%;
}

.w-28{
    width: 28%;
}

.textcenter{
    text-align: center;
    justify-content: space-between;
}

.marge10{
    margin-top: 50px;
    margin-bottom: 50px;
}

.marginbotom100{
    margin-bottom: 100px;
}
.padding{
    padding: 20px 40px 20px 40px;
}
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.trait{
    text-decoration: none;
    list-style-type: none;
}

.left{
    text-align: left;
    justify-content: space-between;
}

.right{
    text-align: right;
    justify-content: space-between;
}

.yellow{
    color: #FBD784;
}

.positionhead{
    position: fixed;
    gap: 450px;
    top: 30px;
}

.gap230{
    gap: 230px;
}

.textleft{
    text-align: left;
}

.positionnav{
    position: fixed;
    top: 200px;
    right: 10px;
}

.trt{
    background-color: #FBD784;
    height: 2px;
    width: 80px;
}

.transparance{
    color: rgba(255, 255, 255, 0,434);
    font-size: 150px;
    position:absolute;
    top:-93px;
    left: 0;
}

.relative{
    position: relative;
    top: 0;
    left: 0;
}

.padding22{
    padding-left: 80;
}