/*RESET*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.supp-puce{
    list-style-type: none;
}
header{
    background-image: url(asset/images/banniere3.png);
    background-repeat:none;
    background-position: top;
    background-size: cover;
}

body{
    background-color: #0B1D26;
    color: white;
}

.section-hero{
    background-image: url(asset/images/banniere3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;

}

a{
    text-decoration: none;
    color: black;
}


/*les classes fonctionnelles flex */

.flex {
display: flex;
flex-wrap:wrap;
}

.space-between{
justify-content:space-between;
}

.space-around{
justify-content:space-around;
}

.space-evenly{
justify-content:space-evenly;
}

.justify-center{
justify-content:center;
}

.flex-end{
justify-content:flex-end;
}

.flex-start{
justify-content:flex-start;
}

.align-center{
align-items:center;
}

.align-end{
align-items:end;
}

.gap-12{
gap:12px;
}

/*les classes de largeur*/

.w-100{
    width: 100%;
}

.w-48{
    width: 48%;
}

.w-33{
    width: 33%;
}

.w-28{
    width: 28%;
}

.textcenter{
    text-align: center;
    justify-content: space-between;
}

.marge10{
    margin-top: 50px;
    margin-bottom: 50px;
}
.padding{
    padding: 30px;
}


.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.trait{
    text-decoration: none;
    list-style-type: none;
}

.left{
    text-align: left;
    justify-content: space-between;
}

.right{
    text-align: right;
    justify-content: space-between;
}
